{%extends 'main.html'%} {% block content %} 

{% if page == "login"%}

<div class="container" style="max-width: 35rem;">
    <h3 style="text-align: center;">Login Page</h3>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group" style="margin: 1.5rem auto;">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" name="username" placeholder="username" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group" style="margin: 1.5rem auto;">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" placeholder="Enter password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary" value="Login">Submit</button>
    </form>
    <br>
    <p>Don't have an account? <a style="text-decoration: none;" href="{% url 'register' %}">Register Here</a></p>
</div>
{% else %}
 <div class="container" style="max-width: 35rem;">
    <h3 style="text-align: center;">Register Page</h3>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Register"/>
    </form>
    <p>Already a user? <a style="text-decoration: none;" href="{% url 'login' %}">Login</a></p>
</div
{% endif %}

{% endblock content %}
